* { margin: 0; padding: 0; box-sizing: border-box; }

.mltr { margin-left: 10%; margin-right: 10%; }

/*About Start*/
#about {

}
#about-head {
}
.about-box {
	width: 48%;
	float: left;
	margin-right: 2%;
}
.about-box h2 {
	font-family: 'Josefin Sans', sans-serif;
}
.about-box p {
	font-weight: 300;
	line-height: 2;
	font-size: 1em;
	color: #888;
}
.about-box img { width: 100%; }
/*About End*/

