*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mltr{
   margin-left: 10%;
   margin-right: 10%;
}
/*header*/
#sit-br{
  background-image: url("images2/1.jpg");
  overflow: hidden;
}
#heading-candid{
 font-family: "B612Mono-Bold";
  text-align: center;
  padding-bottom: 19%;
  padding-top: 1%;
  color: white;
  font-size: 85px;
}
  #eget{
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 34%;
  color: white;
  font-size: 70px;
  }
  #rula{
  text-align: center;
  }
  #menu {
  	color: white;
  }
  /*! text-emphasis-color: red; */
  color: white;
  font-size: 42px;
}
/*header close*/
/*candid2*/
  #candid{
    clear: both;
    overflow: hidden;
  }
  .candid-box{
    clear: both;
    overflow: hidden;
  }
  .candid-image-60{
    width: 61%;
    float:left;
    position: relative;
  }
   .candid-image-40{
    width: 36%;
    float: left;
    position: relative;
  }
  .candid-image-60 img{
    width: 106%;
    margin-bottom:   -4px;
  }
  .candid-image-40 img{
    width: 109%;
    margin-bottom: -10px;
  }
  .box-taxt{
    margin: 0 auto;
    text-align: center;
    top: 0%;
    left: 0%;
    color: #fff;
    width: 106%;
    height: 100%;
    background-color: #49ac3057;
    position: absolute;
}  
.box-taxt-box { 
  width: 40%;
  margin: 0 auto;
  margin-top: 20%;
}
.box-taxt hr{
  width: 30%;
  color: #fff;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.box-taxt2{
    margin: 0 auto;
    text-align: center;
    top: 0%;
    left: 0%;
    color: #fff;
    width: 109%;
    height: 100%;
    background-color: #2c4fd057;
    position: absolute;
}  
.box-taxt-box2 { 
  width: 55%;
  margin: 0 auto;
  margin-top: 20%;
}
.box-taxt2 hr{
  width: 30%;
  color: #fff;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
/*candid2*/
/*about us*/
#about{
clear: both;
overflow: hidden;
padding: 5% 0 5% 0;
background-color: azure;
}
#about-head { padding: 0% 0 5% 0; }
.about-box{
  width: 48%;
  float: left;
  margin-right: 2%;
}
.about-box p{
  line-height: 2;
  font-size: 1em;
  color: #888;
}
.about-box img{
  width: 100%;
}
/*about close*/
/*gallery*/
#gallery{
  overflow: hidden;
  clear: both;
  padding: 5% 0 0% 0;
}
#gallery-head {
  margin-bottom: 5%;
}
.gallery-head-box{
  width: 50%;
  float: left;
  overflow: hidden;

}
.gallery-head-image-100 {
  width: 100%
}
.gallery-head-image-50{
  width: 50%;
  float: left;
}
.gallery-head-image-100 img{
  width: 100%;
  margin-bottom: -4px;
}
.gallery-head-image-50 img{
  width: 100%;
  margin-bottom: -4px;
}
/*gallery close*/
/*creativity*/
#creativity{
overflow: hidden;
clear: both;
background-color: rgba(0,0,0,.5);
background-image: url("images2/4.jpg");

background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: #fff;
}
.creativity-layer { background-color: rgba(0,0,0,.5); padding: 5% 0 5% 0; }
#creativity-head{
  text-align: center;
  padding-bottom: 5%;
  padding-bottom: 7%;
  padding-top: 5%;
}
.creativity-box{

}
.creativity-botton{
  text-align: center;
}
.button-red{
  background-color: red;
  padding: 1%;
}
/*creativity close*/
/*Team*/
#team{
overflow: hidden;
clear: both;
margin-top: 5%;
padding-bottom: 5%;
}
#team-head{

  margin-bottom: 5%;
}
.team-image{
  float: left;
  width: 31%;
  padding-bottom: 6%;
  padding-top: 2%;
  box-shadow: 0px 0px 5px 2px #ddd;
  text-align: center;
  margin-right: 3%;
}
.team-image:last-child {
  margin-right: 0;
}
.team-image img{
  padding-bottom: 5%;
  padding-top: 5%;

}
.team-image p {
  line-height: 30px;
}
@font-face{
  font-family: "B612Mono-Bold";
  src: url("webfonts/B612Mono-Bold.ttf");
}
.icon {
  margin-top: 5%;
}
.icon i {
  background-color: red;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
/*team close*/
/*form tag*/
 * { margin: 0; padding: 0; box-sizing: border-box; }
 .footer-form{
    clear: both;
    overflow: hidden;
    background-color: #124042;
    color: #fffafa;
 }
 .footer-form-box1{
  float: left;
  width: 60%;

 }
 .ffb1-form{

  width: 61%;
  margin: 0 auto;
  margin-top: 10%;
 }

 .form-tag{

 }
 .form-controls{
  padding: 1% 0 1% 0;
 }
 .form-controls input{
  padding: 2%;
  background-color: transparent;
  border: 1px solid #fff;
  width: 49%;
  color: #fff;
 }
 .form-controls textarea{
  width: 99%;
  padding: 2%;
  color: #fff;
  background-color: transparent;

 }
.footer-form-box2{
   float: left;
   width:40%;
   border-left: 2px solid #fff;
  }
.ffb2-box{
      overflow: hidden;
      clear: both;
      padding: 4%;
      border-bottom: 1px solid #fff;
}
.ffb2-box-icon{
  float: left;
  width: 10%;
  margin-right: 2%;
}
.ffb2-box-text{
  float: left;
  width: 60%;
}
.form-controls input::placeholder , .form-controls textarea::placeholder {
  color: #fff;
}

/*form tag close*/
/*second last*/
.email-subs{
  clear: both;
  overflow: hidden;
  padding: 5% 0 5% 0;

}
.email {

  float: left;
  margin-right: 8%;
  width: 50%;
  margin-left: 2%;
}
.subscribe {

}
.botton-yellow {
  background-color: yellow;
  width: 10%;
  padding: 1%0;
}
/*second last close*/
/*footer*/
.footer{
       clear: both;
       overflow: hidden;
       padding: 5% 0 5% 0;
       background-color: black;
}
.footer-icon {
  text-align: center;

  color: white;
  font-size: 316%;
}
.footer-text {
  text-align: center;

  color: white;
  padding-top: 3%;
}
/*footer close*/