*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.mltr {
	margin-left: 2%; 
	margin-right:2%;
}
header {
	background-image: url("images/bann5.jpg");
	overflow: hidden;
	padding-bottom: 5%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#menu-strip {
	overflow: hidden;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
}
#logo {
	float: left;
	width: 15%;
	background-color: #ff304d;
	color: #fff;
	text-align: center;
	padding: 2%;
	
}
#lrnav {
	float: right;
	width: 46%;
	overflow: hidden;
}
#contact {
	/*! overflow: hidden; */
	width: 100%;
	float: right;
	clear: both;
	margin-bottom: 0%;
	margin-top: 3%;
}
#contact-box {
	float: left;
	overflow: hidden;
	width: 30%;
}
#contact-icon {
	float: left;
	width: 15%;
}
#contact-number {
	float: left;
	width: 75%;
	margin-left: 5%;
	border-right: 3px solid #000;
}
#login-reg {
	float: left;
	width: 30%;
}
.btn-blue {
	background-color: #01bcfa;
	padding: 5% 15% 5% 15%;
	text-align: center;
	border: none;
	color: #fff;
	text-transform: uppercase;
}
#contact-icon i {

	font-size: 2em;
}
#contact-number p {

	color: #fff;
}
nav {

	width: 100%;
	clear: both;
}
nav a {
	
	text-transform: uppercase;
	text-decoration: navajowhite;
	color: #fff;
	margin-right: 5%;
}
#del-box {

	width: 40%;
	float: left;
	margin-left: 9%;
}
#del-box-text {
	
}
#del-box-text h1 {
	color: #fff;
	font-size: 5em;
	text-transform: uppercase;
	font-family: "Rob";
}
#del-box-text p {
	
	color: #fff;
	word-spacing: 10px;
	font-size: 1.2em;
}
#del-box-icons {

	overflow: hidden;
	width: 100%;
	height: 48px;
	margin-top: 5%;
}
.dbi-box {

	width: 15px;
	height: 15px;
	background-color: #01bcfa;
	display: block;
	border: 2px solid #fff;
	float: left;
	margin-right: 5%;
}
.dbi-box.active {
	
	background-color: red;
}
#header-form {

	width: 25%;
	float: right;
	margin-right: 11%;
}
.hfinput {

	width: 100%;
	padding: 3%;
	margin-bottom: 2%;
	background-color: rgba(0,0,0,.3);
	border: transparent;
}
.hfinput::placeholder {
	color: #fff;
}
.hfselect {

	width: 100%;
	padding: 3%;
	background-color: rgba(0,0,0,.3);
	border: transparent;
	margin-bottom: 2%;
	color: #fff;
}
.hfbtn-red {
	
	background-color: #ff304d;
	color: #fff;
	width: 100%;
	padding: 3%;
	text-transform: uppercase;
	border: transparent;
}
/*Header Code Stop*/
/*fjhdsghvrsjdghvsjrhdfgvjsgerdgfvhesrdhifvhisrjdzfhgvijesdgrfvjsghdfgvhsrjdghfvsegrd*/
/*header {
	background-image: url(images/bann5.jpg);
	background-repeat: no-repeat;

	position: relative;
}
#head-logo {
	background-color: red;
	font-size: 35px;
	margin: 0 95% 3% -9%;
	padding: 1% 0 1% 1%;
	color: white;
}
.mltr {
	margin-right: 10%;
	margin-left: 10%;
}
.freightage {
	overflow: hidden;
	padding-top: 11%;
	padding-bottom: 21%;
}
#freightage-heading {

}
.freightage-delivery {

}
.form-tag input {
     background-color: #3251898c;
     position: relative;
     right: 100px;
     top: 134px;
}
#menu {
       float: right;
       width: 40%;
       position: absolute;
       right: 0;
       top: 21%;
}
#menu a{
 text-decoration: none;
 color: #fff;
 margin-right: 2%;
 }
.contact {

	float: right;
	margin: -13% -9%;
}
#login {
	float: left;
	margin: -35px 130%;
	background-color: red;
}
#login button {
	background-color: transparent;
}

}
.get input {
	color: white;
	font-size: 83%;
}
.form-tag {
	float: right;
}
.h1 {
	float: left;
	color: white;
	font-family: Arial;
	position: relative;
	top: 100px;
	left: 6%;
}
.h1 h1 {
	font-size: 45px;
}
.square {
	width: 10px;
	height:10px;
	border: solid white;
	display:inline-block;
}*/
/*Amzing*/
.amzing {

	padding-bottom: 5%;
	padding-top: 5%;
}
.amzing-head {

	text-align: center;
	padding-bottom: 2%;
	padding-top: 0%;
}
.amzing-text {
	overflow: hidden;
	clear: both;
	margin-bottom: 5%;
}
.text-60 {
	float: left;
	width: 50%;
	margin-left: 2%;
}
.text-60 h2 {
	color: red;
}
.img-40 {
	float: right;
	width: 40%;
}
.img-40 img {
     width: 100%;
     margin-bottom: -4px;
}
.img-40:first-child {
	float: left;
}
/*Amzing close*/
/*Recodes*/ 
 .recode {
      padding-bottom: 5%;
      padding-top: 5%;
      background-color: #383838;
      overflow: hidden;
      clear: both;
 }
 .box {
 	float: left;

 	width: 21%;
 	border-bottom: 1px solid #ff304d;
 	margin-right: 4%;
 	text-align: center;
 }
 .year {
 	background-color: #2e505b;
 	width: 100%;
 	text-align: center;
 	padding-bottom: 5%;
 	padding-top: 5%;
 }
 .year h1 {

	color: #ff304d;
 }
.year p {
	
	color: #3a8cd2;
}
.box h1 {

	width: 100%;
	padding-bottom: 2%;
}
.col {
	color: #ffffff
}
/*Recodes close*/
 /*capabilities*/
 #head {
 	text-align: center;
 	padding-top: 3%;
 	padding-bottom: 3%;
 	color: #101010;
 }
 .table-one {
float: left;
width: 25%;
margin: 1%;
 }
 .quickest {
 	overflow: hidden;
 	overflow: hidden;
 	margin-bottom: 10%;
 }
 .imgage {
float: left;
margin: 0% 14% 0% 5%;
width: 25%;
 }
.imgage img { width: 100%; }
 .table-second {
float: left;
width: 25%;
 }
 #capabilitie {
 	overflow: hidden;
 }
 .icon {
 	float: right;
 	width: 24%;
 	background: red;
 	padding: 5%;
 	text-align: center;
 }
 .icon-sec {
 	float: left;
 	width: 24%;
 	background: red;
 	padding: 5%;
 }
 .train{
   margin-bottom: 10%;
   overflow: hidden;
 }
 .quickest-color {

	width: 75%;
	float: left;
 }
 .icon {
 	
 }
 .quickest-color h2 {
 	color: #ff3067;
 	margin-bottom: 5%;
 }
 .train-color {
 	
	width: 70%;
	float: right;
	margin-left: 4%;
 }
 .train-color h2 {
 	color: #ff3067;
 	margin-bottom: 5%;
 }
 /*capabilities -close */
 /*TEAM*/
  .team {
overflow: hidden;
clear: both;
  }
  .img {

	width: 50%;
	overflow: hidden;
	float: left;
	/*! margin: 2% 2% 5% 3%; */
  }
  .box-re {

	float: left;
	/*width: 50%;*/
width: 50%;
	float: left;
	position: relative;
	overflow: hidden;
	/*! overflow: hidden; */
  }
  .box-re img { width: 100%; margin-bottom: -4px;width: 100%;  transform: scale(1); transition: .3s;}
  .box-text {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(242, 67, 67, 0.5);
	transition: all .3s;
	transform: scale(0);
}
.box-text h1 {
	margin-top: 25%;
	margin-left: 21%;
	color: #fff;
	opacity: 0;
	transition: .3s .3s;
}
.box-re:hover .box-text {
	transform: scale(1);
}
.box-re:hover .box-text h1{
	opacity: 1;
}

  .text {

	float: left;
	width: 50%;
	text-align: center;
	padding: 14% 4% 7% 7%;
	background-color: black;
	color: white;
  }
  .box-text h1{
  	color:white;
  	/*! padding-bottom: 1%; */
  	/*! padding-left: 10%; */
  	text-align: center;
  }

  .box-text p{
  	color:#fff;
  	text-align: center;
  }
  .box-text i {
  	text-align: center;
  	color: blue;
  }
  .color-text {
  	background-color: black;
  	overflow: hidden;
  }
 /*TEAM CLOSE*/
 /*gallery */
 .gallery {
 
 }
 #heading {

	text-align: center;
	padding-bottom: 3%;
	padding-top: 3%;
 }
 .imgag-tab-1 {
    float: left;
    width: 33%;
 }
 .imgag-tab-2{
   float: left;
   width: 33%;
 }
 .imgag-tab-3 {
    float: left;
    width: 33%;
 }
 .gallery img {
 	width: 100%;
 	margin-bottom: -4px;
 }
 /*gallery -close*/
 /*contact*/
 #contact {
 	clear: both;
 	overflow: hidden;
 	position: relative;
 }
 .cont-head {
 	text-align: center;
 	padding-top: 1%;
 	padding-bottom: 1%;
 }
 .map {}
 .cont-info {position: absolute;
 	bottom: 30px;
 	left: 2%;
 	background-color: rgba(217, 10, 10, 0.8);
 	padding: 2% 1% 1% 1%;
 	line-height: 2em;}

.cont-us h2 {
	color: #fff;
}
.cont-open h2 {
	color: #fff;
}
.color {
	color: #fff;
}
 button{
	color: red;
}
/*contact close*/
/*footer*/
#footer {
	clear: both;
	overflow: hidden;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background: #383838;
	color: #fff;
}
#footer span {
	color: #ed8080;
}
/*footer close*/